//- Add Contact (mailer) Page
extends layout

block content
  .container.page-form
    .toolbar
      a(href='/contacts').btn.btn-secondary Main Page
      a(href='/logout').btn.btn-secondary Logout

    form(action="/mailer" method="post")
      .card
        .card-header Add contact
        .card-body
          .form-group
            label.form-label Prefix
            .radio-group
              label
                input(type="radio" name="Prefix" value="Mr" checked)
                | Mr.
              label
                input(type="radio" name="Prefix" value="Mrs")
                | Mrs.
              label
                input(type="radio" name="Prefix" value="Ms")
                | Ms.
              label
                input(type="radio" name="Prefix" value="Dr")
                | Dr.

          .form-row
            .form-group
              label.form-label(for="Firstname") First name
              input.form-control#Firstname(type="text" name="Firstname" value="")
            .form-group
              label.form-label(for="Lastname") Last name
              input.form-control#Lastname(type="text" name="Lastname" value="")

          .form-group
            label.form-label(for="Street") Street
            input.form-control#Street(type="text" name="Street" value="")

          .form-row
            .form-group
              label.form-label(for="City") City
              input.form-control#City(type="text" name="City" value="")
            .form-group
              label.form-label(for="State") State
              select.form-control#State(name="State")
                option(value="" disabled selected) Select state
                option(value="NJ") NJ
                option(value="NY") NY
                option(value="PA") PA
                option(value="CT") CT
            .form-group
              label.form-label(for="Zip") Zip
              input.form-control#Zip(type="text" name="Zip" value="")

          .form-group
            label.form-label(for="Phone") Phone
            input.form-control#Phone(type="text" name="Phone" value="")

          .form-group
            label.form-label(for="Email") Email
            input.form-control#Email(type="text" name="Email" value="")

          .form-group
            label.form-label Contact by
            .checkbox-group
              label
                input(type="checkbox" name="checkphone")
                | Phone
              label
                input(type="checkbox" name="checkemail")
                | Email
              label
                input(type="checkbox" name="checkmail")
                | Mail
              label
                input(type="checkbox" name="checkall")
                | Any

          .form-group.form-actions
            button.btn.btn-primary(type="submit") Complete


