#table{
  align-content:center;
  height:300px;
  width:100%;
  overflow:auto;
  margin-top: 0em;
  margin-bottom: 1em;
}

/* Contact rows are clickable to center map on address */
tr.tablerow {
  cursor: pointer;
}

.inputfornames{
   margin-right: 20em;
}

.inputforadd{
  margin-right:0%;
}

#mapid{
  width: 100%;
  min-height: 50vh;
  height: 50vh;
  margin-top: 1em;
  padding: 0;
}
.container{
  padding-top: 5em;
}